body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#one {
    background-color: #4CAF50;
    background-image: linear-gradient(to bottom right, #4CAF50, #388E3C);
}

#two {
    background-color: #f44336;
    background-image: linear-gradient(to bottom right, #f44336, #D32F2F);
}

#one:hover {
    background-color: #45a049;
}

#two:hover {
    background-color: #f44336;
}
